<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>
    <nav class="ourNav">

        <div class="splitscreen">
            <div class="left">
                <span>Area!</span>
            </div>

            <div class="right">
                <a class="navItem" href="/index.html"> Facts!</a>
                <a class="navItem" href="/Templates/quiz.html">Quiz!</a>
                <a class="navItem" href="/Templates/Area.html">Area!</a>
            </div>
        </div>

        


    </nav>

    <div class="Babble">
        Did You know that depending upon the type of a triangle,
        you can find the area with a different specific formula?
    </div>
    <h2>Equilateral Triangle</h2>
    <input class="equilat" placeholder="Enter a side:"/>
    <div class="output-equilat"></div>


    <h2>Isoceles Traingle</h2>
    <input type="text" placeholder="Enter a side:">
    <input type="text" placeholder="Enter length of base:">
    <div class="output-isoceles"></div>


    <div class="Babble">
        Also, In case you don't know what kind of triangle it is,
        and you do not have the height of the triangle either,
        We can find the area with the help of sides only!
    </div>
    <h2>Heron's Formula</h2>

    <script src="/src/index.js"></script>
</body>
</html>