<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
    <nav class="ourNav">

        <div class="splitscreen">
            <div class="left">
                <span>Area!</span>
            </div>

            <div class="right">
                <a class="navItem" href="/index.html"> Facts!</a>
                <a class="navItem" href="/Templates/quiz.html">Quiz!</a>
                <a class="navItem" href="/Templates/Area.html">Area!</a>
            </div>
        </div>




    </nav>

    <div class="Babble">
        Did You know that depending upon the type of a triangle,
        you can find the area with a different specific formula?
    </div>
    <h2>Equilateral Triangle</h2>
    <input class="equilat" placeholder="Enter a side:" />
    <button class="btn-output-equi">Calculate</button>
    <div class="output-equilat"></div>
    <div class="descript">Area of Equilateral Triangle can be calculated
        with the formula (√3)/4 × side<sup>2</sup>
    </div>


    <h2>Isoceles Traingle</h2>
    <input type="text" placeholder="Enter a side:">
    <input type="text" placeholder="Enter length of base:">
    <button class="btn-output-iso">Calculate</button>
    <div class="output-isoceles"></div>

    <div class="descript">When an equal side and the base is given.
        Area of an isosceles triangle =
        1/4 × b√<span style="text-decoration: overline">4a<sup>2</sup>-b<sup>2</sup></span>

        where 'b' is the base and 'a' is the measure of equal side.</div>

    <div class="Babble">
        Also, In case you don't know what kind of triangle it is,
        and you do not have the height of the triangle either,
        We can find the area with the help of sides only!
    </div>
    <h2>Heron's Formula</h2>
    <input type="text" class="heron" placeholder="Enter first side">
    <input type="text" class="heron" placeholder="Enter second side">
    <input type="text" class="heron" placeholder="Enter last side">
    <button class="btn-output-heron">Calculate</button>
    <div class="output-heron"></div>
    <div class="descript">When the sides of a triangle are given as a, b, and c.
        (Heron's formula)

        Area of a scalene triangle =
        √<span style="text-decoration: overline">s(s− a)(s-b)(s-c)</span>
        where a, b, and c are the sides and 's' is the semi-perimeter;
        s = (a + b + c)/2
    </div>



    <script src="/src/index.js"></script>
</body>

</html>