<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area</title>
    <link rel="stylesheet" href="/src/styles.css">
</head>

<body>
    <h1 class="BigHeader">Fun With Triangles!</h1>
    <nav class="ourNav">

        <div class="splitscreen">
            <div class="left">
                <span>isTriangle?!</span>
            </div>

            <div class="right">
                <a class="navItem" href="/index.html"> Facts!</a>
                <a class="navItem" href="/Templates/quiz.html">Quiz!</a>
                <a class="navItem link-active" href="/Templates/isTriangle.html">isTriangle?!</a>
                <a class="navItem" href="/Templates/Area.html">Area!</a>
                <a class="navItem" href="/Templates/getHypotenuse.html">Hypotenuse!</a>
            </div>
        </div>




    </nav>

    <div class="Babble">
        Did you know that any two sides of a triangle must sum up to be greater than the third side?
        Give us the three sides and we'll let you know if it is a possible triangle or not!
    </div>
    <section class="leftShift">
        <h2>Check from Sides</h2>
        <input class="side-chk-1" placeholder="Enter side 1:" /><br />
        <input class="side-chk-2" placeholder="Enter side 2:" /><br />
        <input class="side-chk-3" placeholder="Enter side 3:" /><br />
        <button class="btn-chk-sides">Check</button>
        <div class="op output-chk-sides"></div>
    </section>
    <div class="Babble">
        For any Triangle, The sum of all three angles must be equal to 180 degrees!
    </div>
    <section class="rightShift">
        <h2>Check from Angles</h2>
        <h2>Check from Sides</h2>
        <input class="side-ang-1" placeholder="Enter angle 1:" /><br />
        <input class="side-ang-2" placeholder="Enter angle 2:" /><br />
        <input class="side-ang-3" placeholder="Enter angle 3:" /><br />
        <button class="btn-ang-sides">Check</button>
        <div class="op output-ang-sides"></div>
    </section>
    

    <footer class="footer">
        <div class="footer-header">Social Media Links</div>
        <ul class="list-non-bullet">
            <li class="list-item-inline">
                <a target="_blank" href="https://github.com/Sameony">
                    <img src="/Media/icons8-github-50.png" alt="icon-github">
                </a>
            </li>
            <li class="list-item-inline">
                <a 
                target="_blank" href="https://www.linkedin.com/in/mohammed-sameer-786485219/">
                    <img src="/Media/icons8-linkedin-2-60.png" alt="Icon-linkedin">
                </a>
            </li>
            <li class="list-item-inline">
                <a target="_blank" href="https://www.twitter.com/Sameony1">
                    <img src="/Media/icons8-twitter-50.png" alt="Icon-twitter">
                </a>
            </li>
            
        </ul>
    </footer>

    <script src="/src/checkTri.js"></script>
</body>

</html>