<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>
    <h1 class="BigHeader">Fun With Triangles!</h1>
    <nav class="ourNav">

        <div class="splitscreen">
            <div class="left">
                <span>QUIZ!</span>
            </div>

            <div class="right">
                <a class="navItem" href="/index.html"> Facts!</a>
                <a class="navItem link-active" href="/Templates/quiz.html">Quiz!</a>
                <a class="navItem " href="/Templates/isTriangle.html">isTriangle?!</a>
                <a class="navItem" href="/Templates/Area.html">Area!</a>
                <a class="navItem" href="/Templates/getHypotenuse.html">Hypotenuse!</a>
            </div>
        </div>




    </nav>
    <form class="answer-key">
        <section class="quiz-container">
            <p class="ques">
                Which type of Triangle has the measurements of all Three
                sides different?
            </p>
            <label>
                <input type="radio" name="q1" value="Equilateral">Equilateral
                <input type="radio" name="q1" value="Isoceles">Isoceles
                <input type="radio" name="q1" value="Scalene">Scalene
    
            </label>
        </section>
        <section class="quiz-container">
            <p class="ques">
                In a Right angled triangle, which is the longest side?
            </p>
            <label>
                <input type="radio" name="q2" value="Hypotenuse">Hypotenuse
                <input type="radio" name="q2" value="Base">Base
                <input type="radio" name="q2" value="height">height
    
            </label>
        </section>
        <section class="quiz-container">
            <p class="ques">
                The Sum of all angels in an Isoceles triangle is equal to:
            </p>
            <label>
                <input type="radio" name="q3" value="120°">120°
                <input type="radio" name="q3" value="180°">180°
                <input type="radio" name="q3" value="270°">270°
    
            </label>
        </section>
        <section class="quiz-container">
            <p class="ques">
                If all angles in a triangle are given to be whole numbers,
                then what's The Largest angle possible between any 
                two sides of any triangle?
            </p>
            <label>
                <input type="radio" name="q4" value="168°">168°
                <input type="radio" name="q4" value="180°">180°
                <input type="radio" name="q4" value="178°">178°
                <input type="radio" name="q4" value="175°">176°
    
            </label>
        </section>
        <section class="quiz-container">
            <p class="ques">
                The correct formula for finding the area of a triangle is:
            </p>
            <label>
                <input type="radio" name="q5" value="1/2 * height * base">1/2 * height * base <br />
                <input type="radio" name="q5" value="base * height">base * height <br />
                <input type="radio" name="q5" value="1/2 * height *(sum of any two sides)">1/2 * height *(sum of any two sides) <br />
                <input type="radio" name="q5" value="3.14*radius*radius">3.14*radius*radius
    
            </label>
        </section>
    </form>
    <div class="outputHereGib"></div>
    <button class="btn-submit">Submit</button>
    

    <footer class="footer">
        <div class="footer-header">Social Media Links</div>
        <ul class="list-non-bullet">
            <li class="list-item-inline">
                <a target="_blank" href="https://github.com/Sameony">
                    <img src="/Media/icons8-github-50.png" alt="icon-github">
                </a>
            </li>
            <li class="list-item-inline">
                <a 
                target="_blank" href="https://www.linkedin.com/in/mohammed-sameer-786485219/">
                    <img src="/Media/icons8-linkedin-2-60.png" alt="Icon-linkedin">
                </a>
            </li>
            <li class="list-item-inline">
                <a target="_blank" href="https://www.twitter.com/Sameony1">
                    <img src="/Media/icons8-twitter-50.png" alt="Icon-twitter">
                </a>
            </li>
            
        </ul>
    </footer>
    
    <script src="/src/quiz.js"></script>
</body>
</html>