@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cabin+Sketch:wght@700&family=Urbanist:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    margin: auto;
    text-align: center;
    max-width: 60rem;
    font-family: 'Acme', sans-serif;
    font-size: large;
    background-color: #4b4a4a;
    
}
.BigHeader{
    font-size: 2.8rem;
    margin: 1rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: white;
}
.ourNav{
    text-align: right;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}
.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 0;
}
.splitscreen .right {
    flex: 1;
}
a{
    color: black;
    text-decoration: none;
}
.link-active{
    font-weight: bolder;
}
.navItem{
    padding: 1rem;
}
input{
    padding: 1rem;
    font-size: larger;
    margin: 0.5rem;
}

/* Area */

.Babble{
    padding: 1rem;
    margin: auto;
    font-size: x-large;
    font-family: 'Aclonica', sans-serif;
    color: white;
    margin-top: 3rem;
}
.rightShift{
    text-align: right;
    padding: 1rem;
    margin: 2rem;
    background-color: white;
    border-radius: 1rem;
}
.leftShift{
    margin: 2rem;
    text-align: left;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}

.op{
    color: red;
    font-weight: bolder;
}

.descript{
    padding: 1rem;
    margin: 1rem;
}

/* Facts */

.heading, .subheading{
    color: white;
    font-family: 'Aclonica', sans-serif;
}

.card{
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.6rem 0 0.6rem 0;
}


button{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Aclonica', sans-serif;
    font-size: large;
    font-weight: 100;
    padding: 1rem;
    background-color: #000000;
    margin: 1rem;
    border: solid #ffffff 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 button:hover {
    background: #F5F5F5;
    border: solid #000000 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color:black;
 }

 .facx-btn{
     color: white;
 }

 .facx-btn:hover{
     color: black;
 }

 /* Quiz */
 
 .quiz-container{
     border-radius: 1rem 0;
     padding: 1rem;
     border: #FFFFFF 1px solid;
     margin: 1rem;
     background-color: white;
     
 }
 .outputHereGib{
    color: rgb(238, 71, 71);
    font-weight: bold;
    font-size: larger;
 }

 /* Footer */
.footer{
    padding: 2rem;
    text-align: center;
    color: white;
    
}

.list-item-inline{
    display: inline;
    padding: 1rem;
}

.footer ul{
    padding-inline-start: 0px;
    color:white;
}

.footer-header{
    font-size: x-large;
    font-weight: bold;
}