@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cabin+Sketch:wght@700&family=Urbanist:ital@1&display=swap');


body{
    margin: auto;
    text-align: center;
    max-width: 60rem;
    font-family: 'Urbanist', sans-serif;
    font-size: large;
    background-color: #272727;
    
}
.BigHeader{
    font-size: 2.5rem;
    margin: 1rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: white;
}
.ourNav{
    text-align: right;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}
.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 0;
}
.splitscreen .right {
    flex: 1;
}
a{
    color: black;
    text-decoration: none;
}
.link-active{
    font-weight: bolder;
}
.navItem{
    padding: 1rem;
}

/* Area */

.Babble{
    padding: 1rem;
    margin: auto;
    font-size: x-large;
    font-family: 'Aclonica', sans-serif;
    color: white;
}
.rightShift{
    text-align: right;
    padding: 1rem;
    margin: 2rem;
    background-color: white;
    border-radius: 1rem;
}
.leftShift{
    margin: 2rem;
    text-align: left;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}
.descript{
    padding: 1rem;
    margin: 1rem;
}

/* Facts */

